<html>
    <head><title>Create Customer</title></head>
    <body>
        <div>
            <form mathod='POST'>
                Customer Name:  <input name='cust_name' placeholder='Enter Name'></input>
                Customer Address: <input name='cust_address' placeholder='Enter Address'></input>
                Customer Phone-:  <input name='cust_phone' placeholder='Phone Number'></input>

                <input type='button' name='Create' value='submit'>Create</input>
            </form>
        </div>
    </body>
</html>
